<form [formGroup]="form" (ngSubmit)="submit(form)">
    <div class="form-group">
			<label for="old_pass">Old password</label>
			<input
				formControlName="old_pass"
				id="old_pass" 
				type="password" 
				class="form-control">
				<div *ngIf="old_pass.status === 'PENDING'">
					Checking...
				</div>
				<div *ngIf="old_pass.touched && old_pass.invalid" class="alert alert-danger">
					<div *ngIf="old_pass.errors.required">
						Old password is required!
					</div>
					<div *ngIf="old_pass.errors.invalidPass">
						Old password is invalid!
					</div>
				</div>
		</div>
		<div class="form-group">
				<label for="new_pass">New password</label>
				<input 
					formControlName="new_pass"
					id="new_pass" 
					type="password" 
					class="form-control">
				<div *ngIf="new_pass.touched && new_pass.invalid" class="alert alert-danger">
					<div *ngIf="new_pass.errors.required">
						New password is required!
					</div>
				</div>
		</div>
		<div class="form-group">
			<label for="confirm_pass">Confirm password</label>
			<input 
				formControlName="confirm_pass"
				id="confirm_pass" 
				type="password" 
				class="form-control">
			<div *ngIf="confirm_pass.touched && confirm_pass.invalid" class="alert alert-danger">
				<div *ngIf="confirm_pass.errors.required">
					Confirm password is required!
				</div>							
			</div>
		</div>
		<div
			*ngIf="form.touched && confirm_pass.touched && form.errors"
			class="alert alert-danger">
			<div *ngIf="form.errors.confirmMustMatch">
				Confirm password must match new password!
			</div>
		</div>
    <button class="btn btn-primary" type="submit">Change password</button>
</form>